install
selinux --disabled
firewall --disabled
url --url="http://mirror.es.its.nyu.edu/centos/6.5/os/x86_64/"

lang en_US
keyboard us
rootpw --iscrypted $1$YvGSip5h$6eBGjCq5crDwpYhXTPkhR2
# System authorization information
auth  --useshadow  --passalgo=sha512
#we don't want graphical here
text


# Do not configure the X Window System
skipx
# Installation logging level
logging --level=info

# System timezone
timezone  America/New_York
# Network information
network  --bootproto=static --ip=192.168.52.192 --device=eth0 --onboot=on --gateway=192.168.52.1 --netmask 255.255.255.0 --nameserver=192.168.52.45
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr

# Partition clearing information
clearpart --all --initlabel 

reboot

#Disks
part /boot --fstype=ext4 --size=250
part / --fstype=ext4 --size=8000
part swap --size=2048
part /home --fstype=ext4 --grow --size=1000
part /var/log --fstype=ext4 --grow --size=1000


%packages --nobase
@core
yum
openssh-clients
openssh-server
wget
man


%end

%post

echo "nameserver 192.168.52.45" >> /etc/resolv.conf
echo "search ukware.com" >> /etc.resolv.conf

useradd -m crobinsonadm
echo changeme | passwd --stdin crobinsonadm

mkdir /home/crobinsonadm/.ssh
touch /home/crobinsonadm/.ssh/authorized_keys

mkdir /tmp/ks-files
chmod 777 /tmp/ks-files

wget -O /tmp/ks-files/id_rsa.pub http://www.ukware.com/files/id_rsa.pub
cat /tmp/ks-files/id_rsa.pub >> /home/crobinsonadm/.ssh/authorized_keys

rm -rf /tmp/ks-files/id_rsa.pub


chown -R crobinsonadm:crobinsonadm /home/crobinsonadm
chmod 700 /home/crobinsonadm/.ssh
chmod 600 /home/crobinsonadm/.ssh/authorized_keys


#yum update -y

wget -O /tmp/ks-files/logbanner http://www.ukware.com/files/logbanner


echo "Banner /tmp/ks-files/logbanner" >> /etc/ssh/sshd_config
                            
rm -rf /tmp/files/logbanner
